[2018-02-21 12:04] marius311 opened #1 "Move to single branch"
Hi @adamradocz thanks again for this, its great to have! I have some minor comments after taking this for a spin, which I'm totally open to discussion on. I'll open them as separate issues here for organizational purposes.

First, what if instead of 4 separate branches for the different Dockerfiles, we have 1 branch with four folders for each of the tags? Its just a bit clunky switching branches a

[2018-02-21 12:17] marius311 opened #2 "Streamline readme"
I wonder if the README can't be streamlined even a bit further. I get the sense when people arrive on a Docker container repo, they basically just want to immediately be presented with the one single `docker run ...` command so they can copy/paste it and get the app running, without too much thinking required or any other distractions.

Here they're presented with a choice between host/bridge netw

[2018-02-21 12:17] adamradocz commented on #1
I agree. It was just easier to me, because I had never worked with tags before.
Could you do the reorganizations?
BTW, we need only 3 tags, because the amd and opencl tags are the same.

[2018-02-21 12:18] marius311 commented on #1
Sure, I'll have a go at it later today.

[2018-02-21 12:22] marius311 opened #3 "Get VBox working"
Would be great to eventually have VBox working for projects with VBox apps. I played around with something like this a while back but never succeeded. https://github.com/laurent-malvert/docker-boinc#virtualbox seems like they may have something working, worth investigating maybe.

[2018-02-21 12:23] adamradocz commented on #2
I agree with all the things. And no, I didn't see any case when the bridge mode worked but the host didn't.

[2018-02-21 12:33] adamradocz commented on #1
What do you think, should we emphasize the opencl tag, or use only the amd tag?

[2018-02-21 13:06] adamradocz commented on #2
Only one thing. When I moved from docker to docker compose, I really liked when I could use a compose template, even tho I can write myself. Shouldn't we keep it somewhere?

[2018-02-21 17:57] adamradocz commented on #3
Can you tell me a vbox based project for testing?

[2018-02-21 19:30] davidpanderson commented on #3
I don't understand.  When do things not work now?

[2018-02-21 20:03] marius311 commented on #3
@davidpanderson I meant get VBox working inside this Dockerized client container, which currently does not have VBox installed in it.

@adamradocz I think the easiest thing would be to spin up a server using boinc-server-docker and since that comes with boinc2docker pre-installed, you can immediately submit VBox-based jobs with something like `bin/boinc2docker_create_work.py python:alpine python -

[2018-02-22 13:37] marius311 commented on #1
Yea, not sure. I'm tempted to go with `nvidia-cuda` and `opencl` as tag names, since that exactly matches the names of Debian packages. Thoughts?

[2018-02-22 16:30] adamradocz commented on #1
Sounds right with me.

[2018-02-22 16:59] #2 closed

[2018-02-22 22:27] marius311 commented on #1
Closed by https://github.com/BOINC/boinc-client-docker/commit/0cf57a4148595c4e9313571b2a84e6cfe6657434

We need (and needed before anyway) some tweaking to do the autobuild right, because otherwise you weren't guaranteed to build `boinc/client:latest` before you built the nvidia/cuda version that depend on it.  The file in hooks/build should nominally fix that, but I need to test it still. We'll h

[2018-02-22 22:27] #1 closed

[2018-02-22 22:46] marius311 commented on #1
@davidpanderson @TheAspens I think I need to be part of the Github BOINC organization to correctly set up the Docker automated build. Could I be added? I don't need permissions on anything other than this repo.

[2018-02-23 03:45] davidpanderson commented on #1
I invited you.
-- D

On Thu, Feb 22, 2018 at 2:46 PM, Marius Millea <notifications@github.com>
wrote:

[2018-02-23 07:27] adamradocz opened #6 "The Client repository is gone from the docker hub"
The client repository is gone from the docker hub. Was it intentional?

[2018-02-23 09:50] marius311 commented on #6
Yea, I deleted it in preparation to move the build to the Docker Cloud, which is needed since we need to use build hooks, but I'm having trouble doing so (see https://forums.docker.com/t/cant-create-autobuild-for-github-organization-i-am-a-member-of/46852)

[2018-02-23 09:51] marius311 commented on #1
Thanks!

[2018-02-23 10:01] marius311 commented on #1
Actually, there may be one more thing needed. Under the BOINC organization settings, under Third Party Access, do you see anything related to "Docker Cloud Builder" and if so could you approve it? (if there's nothing like that, I'd be curious to know still)

[2018-02-23 10:07] adamradocz commented on #6
No, I'm not.

[2018-02-23 12:36] adamradocz commented on #6
Are you sure, is it necessary to use the Docker Cloud? In assume the build older in the Docker Hub is the same as the build tags. So the first build will be the master.

[2018-02-23 13:25] marius311 commented on #6
Unfortunately I don't think so, in my testing it looks like the build order on both Hub and Cloud is random each time, at least when you're building from different Dockerfiles on the same branch (maybe what you had before with different branches it always built master first?) I think we'll get it figured out, my guess is one of the BOINC organization admins just needs to approve the third party ap

[2018-02-23 19:46] davidpanderson commented on #1
Marius:
Under Third Party Access it says
Third-party application access policy

Policy: *No restrictions*

All applications authorized by organization members have access to *BOINC*’s
data.

When authorized, applications can act on behalf of organization members.
Your access policy determines which applications can access data in your
organization. Read more about third-party access and organizati

[2018-02-25 18:55] adamradocz commented on #6
Then add @davidpanderson to the team at Docker hub, maybe he can create the automated repo.

[2018-02-27 01:52] marius311 commented on #6
Looks like that may the only way. @davidpanderson

1) Tell me your Docker Hub username so I can add you to the organization.

2) Log in, then go to https://cloud.docker.com/app/boinc/settings and under Source Providers -> Github click the Connect Provider button and link your Github account.

3) Then go to https://cloud.docker.com/app/boinc/repository/create, put `client` for the name, give it any

[2018-02-27 02:09] #3 closed

[2018-02-27 07:59] davidpanderson commented on #6
My name on Docker is DavidAnderson.
Let me know when you've added me.
-- D

On Mon, Feb 26, 2018 at 5:52 PM, Marius Millea <notifications@github.com>
wrote:

[2018-02-27 09:35] adamradocz commented on #6
I added you to the team.

[2018-03-02 19:26] adamradocz commented on #6
Did you get the invitation?

[2018-03-09 19:03] adamradocz opened #9 "Blank benchmark result"
When you run the CPU benchmarks, in the Event log the scores are blank. I assume the ubuntu image doesn't contain the necessary package which is required for benchmarking, but I don't know what's the requirement for that.

The wrong result on the docker:
<img width="434" alt="wrong-benchmark-result" src="https://user-images.githubusercontent.com/16503773/37224778-bfe33950-23d4-11e8-8c03-d47b7d8358

[2018-03-10 16:35] marius311 commented on #6
@davidpanderson can you please take a look? We can't do much more until you link the repo.

[2018-03-13 09:57] marius311 commented on #6
If we don't get a response from David in the next day or so, given the difficulties getting this set up, what do you think about moving this out of the BOINC organization and back into your repo and working from there?

[2018-03-13 13:09] TheAspens commented on #6
Marius - my id is theaspens.  If you add me I can follow the instructions above.  Thanks.

[2018-03-13 14:09] marius311 commented on #6
Thanks, Kevin. Just added you.

[2018-03-13 16:56] TheAspens commented on #6
So if I link my account, it wants access to my personal repos (including private ones) as well as access to the BOINC organization and the IBM organization.  I cannot allow that level access.

Is there a way to create service type account on github and on docker that can provide that linkage so that it is not done using personal accounts?

If need be, I can create a different account on github and

[2018-03-13 17:11] marius311 commented on #6
Thanks for trying, man that is annoying. As much as I love Docker, "Cloud" does not seem in the best shape, aside from that it has the build order feature that we need... (btw here some others raising some similar concerns I think https://forums.docker.com/t/question-about-docker-cloud-and-github-account-linking/27914/5)

I can't say I have any better suggestions than what you just suggested.

[2018-03-13 17:17] marius311 commented on #6
Or, so as to avoid mucking too much with Github accounts and the BOINC organization, we just nix automated builds until Cloud gets their stuff together and we can keep the repo on Cloud but just manually build / push after each commit? I don't anticipate this repo is going to get *that* much commit traffic that it'll be too prohibitive. Thoughts @adamradocz  ?

[2018-03-13 17:34] adamradocz commented on #6
I think, we should move back to docker hub, in the worst case scenario we manually trigger the build, when significant changes made.

[2018-03-13 18:10] marius311 commented on #6
I'd prefer being able to manually build and push only because you never know how long the builds are going to stay in the queue (esp on Hub which is slower). So if you commit something you have to wait to see which build starts first, then if the base image didn't start first you have to wait for it to build, *then* trigger the dependent images. Since *something* will have to be done by hand, I pr

[2018-03-14 01:40] davidpanderson commented on #6
Sorry, I've been sick recently.
I'll take a look at this today.
-- D

On Tue, Mar 13, 2018 at 11:10 AM, Marius Millea <notifications@github.com>
wrote:

[2018-03-14 02:37] davidpanderson commented on #6
I followed Marius's directions and everything seemed to work.
-- D

On Tue, Mar 13, 2018 at 6:40 PM, David P. Anderson <davea@berkeley.edu>
wrote:

[2018-03-14 10:46] marius311 commented on #6
Looks to be working now, thanks @davidpanderson.

[2018-03-14 10:46] #6 closed

[2018-03-31 15:41] adamradocz opened #12 "Add Docker as download option on BOINC webpage"
I think it would worth to mention on the BOINC website's download page, that there is Docker container to run the client with a link to the Docker Hub ([https://hub.docker.com/r/boinc/client/](https://hub.docker.com/r/boinc/client/)).

[2018-04-03 01:37] davidpanderson commented on #12
I added this as a news item, and also a link here:
https://boinc.berkeley.edu/wiki/Installing_BOINC#Linux

Please check these for accuracy.
Thanks - David

On Sat, Mar 31, 2018 at 8:41 AM, Adam Radocz <notifications@github.com>
wrote:

[2018-04-03 10:44] adamradocz opened #13 "Trigger autobuild when base repository updated"
Ubuntu is updated it's images, therefore the containers should be rebuilt. I manually rebuilt them, but it should be automatic.
On the Docker Hub you can set the base repository to trigger the autobuild, but I didn't find this option on the Docker Cloud.

@marius311 do you have any idea, how to do that?

[2018-04-03 11:15] marius311 commented on #13
Yea, unfortunately I don't see this feature either. Hopefully its added soon... https://forums.docker.com/t/how-to-link-parent-repositories-in-docker-cloud/35788

[2018-05-02 07:54] adamradocz opened #14 "Update the Docker Compose template to v3"
The Ubuntu 18.04 LTS supports the Docker Compose v3 format by default, and the v3 not so new by now, so I think we should update the Docker Compose template.

[2018-05-02 08:56] #14 closed

[2018-05-07 07:32] LiamAkkerman opened #16 "Set Client Name"
Would it be possible to implement an environment setting or anything else to set the client name? Mounting /etc/hostname as a persistent volume may work but setting it during the container creation could be an option, if I'm understanding how it works correctly.
For instance, currently World Community Grid lists my docker client as "094976c6f248", which is not very user friendly. If I could set th

[2018-05-07 09:25] adamradocz commented on #16
My Docker is running on an Ubuntu Server, and I use the host network option as the documentation says, and my boinc is recognised correctly as the name of the PC.

[2018-05-07 10:53] marius311 commented on #16
You can always run with `docker run --hostname HOSTNAME` to set the hostname at container creation too.

[2018-05-07 19:51] LiamAkkerman commented on #16
thank you! I didn't know that was part of docker itself, I thought it had be be implemented. World Community Grid now shows a usable name.

[2018-05-07 19:51] #16 closed

[2018-05-11 15:48] adamradocz opened #17 "Support the latest BOINC version"
The BOINC 7.10.2 out and we should support it.
I tried to build the latest version from source but I get error message when I use the `make` command.

Here are the commands that I used:
[code]

I used these tutorials:

- [https://boinc.berkeley.edu/trac/wiki/BuildSystem](https://boinc.berkeley.edu/trac/wiki/BuildSystem)
- [https://boinc.berkeley.edu/trac/wiki/CompileClient](https://boinc.berkeley.

[2018-05-11 20:32] adamradocz commented on #17
I managed to build the boinc from source. How should we redistribute?

[2018-05-13 09:07] adamradocz commented on #17
Unfortunately the Project synchronization doesn't work in the Docker container, although it works in the VM.

[2018-06-07 13:36] #17 closed

[2018-06-07 13:57] adamradocz opened #21 "With version 7.10.2 the default working directory changed to /var/lib/boinc"
With the latest BOINC 7.10.2 [on Linux the default working directory changed to](https://boinc.berkeley.edu/wiki/Release_Notes_for_BOINC_7.10) `/var/lib/boinc` from `/var/lab/boinc-client`
Should we modify our code and the readme to use the new standard?

[2018-06-14 18:31] adamradocz opened #23 "Add Intel GPU support"
Currently the Intel GPUs are not supported.
The log:
[code]

I tried to add support based on this tutorial [http://wiki.ros.org/docker/Tutorials/Hardware%20Acceleration](http://wiki.ros.org/docker/Tutorials/Hardware%20Acceleration), but I couldn't manage to do it.
Plus, I can'T test the Nvidia and AMD versions either and I have a feeling that they aren't working because we don't pass through the d

[2018-06-20 18:45] adamradocz opened #24 "[Docker cloud] Wrong build order"
The automated build on Docker Cloud starts with the OpcenCl version not the master.

<img width="824" alt="docker cloud build order" src="https://user-images.githubusercontent.com/16503773/41678247-da1718e0-74ca-11e8-862c-7ca58f41e650.PNG">

[2018-06-20 23:57] marius311 commented on #24
The order they build on Cloud doesn't matter, the https://github.com/BOINC/boinc-client-docker/blob/master/hooks/build file makes it so each individual build builds the base image first. Its redundant, but the best we've got until they let us specify dependencies on Cloud.

[2018-06-20 23:57] #24 closed

[2018-06-22 11:08] adamradocz commented on #23
Found an another guide.
[http://gernotklingler.com/blog/howto-get-hardware-accelerated-opengl-support-docker/](http://gernotklingler.com/blog/howto-get-hardware-accelerated-opengl-support-docker/)

[2018-07-11 01:15] sunk818 opened #28 "What is the docker equivalent to boinc restart?"
In Ubuntu 16.0.4 LTS, I use this command to restart BOINC: **sudo service boinc-client restart**

What is the docker equivalent?

[2018-07-11 06:12] adamradocz commented on #28
[docker restart [OPTIONS] CONTAINER [CONTAINER...]](https://docs.docker.com/engine/reference/commandline/restart/)

[2018-07-11 06:12] #28 closed

[2018-07-11 07:06] sunk818 commented on #28
Was trying to get it to work but the benchmark never happened and no downloads. I guess I should have tried skipping benchmark

[2018-07-11 07:16] adamradocz commented on #28
The benchmark shows empty results for some reason, but the crunching works anyway.

[2018-07-14 06:46] adamradocz opened #29 "Update and test needed for AMD OpenCL docker"
Unlike the Nvidia and Intel Dockers, the AMD OpenCL docker doesn't contain the AMD OpenCL Driver, therefore I'm sure it's not working.

Unfortunately, I don't have AMD Radeon GPU to update and test it.

[2018-07-14 10:05] adamradocz opened #30 "Add multiple GPU support"
We should support systems with multiple GPUs, for example Intel GPU with Nvidia GPU.
I think we should create a docker which contains all the packages that required by any GPU.

[2018-07-17 16:52] #23 closed

[2018-07-19 11:18] #30 closed

[2018-07-20 06:13] adamradocz commented on #29
I updated the AMD Docker, it just has to be tested.
I couldn't test it, because I don't have AMD GPU, but I merged it, because the older version definitely was not working, so this commit could help the situation not worsen.

[2018-07-20 08:46] marius311 commented on #29
Good by me, thanks for doing all this stuff, sorry I've been too busy to really help. By the way, I tried to find your email so I could send you a message about the BOINC Workshop next week, but couldn't. Can you send me an email, you can see mind by just clicking on my Github profile then my website. Thanks!

[2018-07-23 13:07] adamradocz opened #35 "Update the AMD container when ROCm updated to v1.9"
With ROCm 1.9 the Ubuntu 18.04 will be supported, so the AMD container has to be updated accordingly.

[2018-08-01 15:57] adamradocz opened #39 "Docker Cloud isn't building"
The Docker Cloud isn't build and every container build status is failed.

[2018-08-01 15:59] marius311 commented on #39
@davidpanderson just needs to add himself as source provider again (see my emails from yesterday). Sorry about the disruptions due to my tinkering.

[2018-08-01 16:01] marius311 commented on #39
Alternatively, I learned yesterday in my tinkering that the hooks we're using to build the images are actually secretly available on Hub as well, just not documented. Does that mean we can use Hub? I forget if that had a better way to link the source provider or not...

[2018-08-01 16:01] marius311 commented on #39
I should say, I've read this, although I've not tested it yet.

[2018-08-02 12:26] marius311 commented on #39
Ok, I've now tested and indeed it hooks work on the Hub as well. I was able to link this source and build, although it crashed I think due to a problem in the script. But at least its clear it ran. https://hub.docker.com/r/boinc/client_test/builds/b3yjxtbtov62huoxauf2qf/

I'll leave it up to you if you want to move over to Hub.

In the meantime though, @davidpanderson, could you please relink the

[2018-08-02 17:41] adamradocz commented on #39
@marius311 I don't have too much experience in any of them, so won't vote on this.

[2018-08-03 12:22] adamradocz commented on #39
What's the pros and cons of them? Hub can update the images when the main image is updated.

[2018-08-03 13:13] marius311 commented on #39
Pro's of Cloud are that at some point probably Hub is retired, also to me its seems there's less wait time in the build wait queue. A con though is that the source linking is all screwed hence we're still waiting on David. I might be wrong but I don't see where "Hub can update the images when the main image is updated." There's "Repository links" but that's only for other repos, not other tags wit

[2018-08-03 20:45] davidpanderson commented on #39
I didn't see an email yesterday.  In any case, I went to the docker site
and got as far finding this document page:
https://docs.docker.com/docker-cloud/builds/link-source/
but couldn't find the "Cloud settings" link referred to there.

[2018-08-06 06:42] adamradocz commented on #39
@davidpanderson Can you try the steps detailed in the issue #6

[2018-08-07 07:29] davidpanderson commented on #39
Those directions don't work any more.
In step 2, when I go to that URL I don't see Source Providers -> Github

[2018-08-11 16:34] adamradocz commented on #39
@marius311 Do you have any idea?

[2018-08-11 17:03] marius311 commented on #39
@davidpanderson the URL is now https://cloud.docker.com/swarm/boinc/settings or alternatively go to the top right and click on your username, select the BOINC organizatoin, then go to organization settings

[2018-08-23 09:12] adamradocz commented on #39
Ubuntu and Intel driver were updated so the containers should have been updated. Can we do something to connect the GitHub and the Docker in any way?

[2018-08-23 18:14] marius311 commented on #39
Yea I am really impressed / surprised at the number of pulls. I'd be curious to know more about how this is actually being used, not sure exactly how best to connect with these people.

@davidpanderson can you follow the updated instructions above and relink the repo? Just message me if something doesn't work.

[2018-08-24 03:46] davidpanderson commented on #39
I think I linked the repo.  Marius, please check; if any problem I'll find you in Campbell tomorrow.

[2018-08-24 07:35] adamradocz commented on #39
It's working, thanks!

[2018-08-24 07:35] #39 closed

[2018-09-20 08:01] BurtonChia opened #41 "Dockered client doesn't suspend when non-BOINC tasks exceed threshold"
Hi, it seems the dockered client doesn't suspend when non-BOINC tasks exceed the specified threshold. I'm running the docker client on two computers, one a headless Ubuntu 18.04.1 and the other Manjaro.

[2018-09-20 10:52] adamradocz commented on #41
I think it should be Docker related issue and not BOINC.

[2018-09-20 10:52] #41 closed

[2018-10-03 10:20] #35 closed

[2018-10-09 06:43] adamradocz commented on #13
Base repositories:
- ubuntu/18.04
- intelopencl/intel-opencl
- nvidia/cuda:10.0-base-ubuntu18.04

[2018-10-17 16:40] sunk818 opened #44 "boinc docker exits immediately after running command (s390x z/OS suse)"
I ran the following command on s390x architecture (IBM z/OS) mainframe using SUSE:

[code]

[code]

[code]

Does this mean the docker image is not compatible with the s390x architecture?

[code]

[code]

[2018-10-17 20:29] adamradocz commented on #44
The issue must be with the s390x architecture. I created a new image for you. When it's compiled, I'll let you know the details.

[2018-10-17 20:58] adamradocz commented on #44
Currently I can't even run the standard s390x Ubuntu image on my system.
The command I tried: `sudo docker run -ti s390x/ubuntu:18.04 bash`
The error message I got: `standard_init_linux.go:190: exec user process caused "exec format error"`

[2018-10-17 21:05] sunk818 commented on #44
Is this helpful? https://www.lewuathe.com/exec-format-error-in-docker-container.html

[2018-10-17 21:19] adamradocz commented on #44
Could you try build the image on your system.
Here is the command:
`docker build -t boinc/client:s390x -f Dockerfile.s390x .`

[2018-10-18 01:02] sunk818 commented on #44
Attached is the output. I did a git pull then ran the command you asked.

I am not sure if the docker container rebuilt correctly. I got the same error when I checked the logs of the docker container.

[boinc-docker-s390x.log](https://github.com/BOINC/boinc-client-docker/files/2489807/boinc-docker-s390x.log)

[2018-10-18 06:00] adamradocz commented on #44
It looks the container built correctly.
Did you use the built image, with the `s390x `tag?

[code]

[2018-10-18 08:58] adamradocz commented on #44
My main question is, there will be any project that support your OS?

[2018-10-20 03:33] sunk818 commented on #44
Hi, your suggestion solved it.

Ran into some issue with xorg:x11 docker boinc looking for /var/input/mice (?), but otherwise seemed to work until

I tried with Rosetta@Home, World Community Grid, Collatz Conjecture, and SETI@Home. None support s390x architecture.

[2018-10-20 06:55] adamradocz commented on #44
The `/var/input/mice` issue is solved in a the newer version.
Then I remove this image until no one support it.

[2018-10-21 08:19] adamradocz commented on #44
@davidpanderson Do you see any chance to build a project that run on s390x architecture?

[2018-10-23 09:08] davidpanderson commented on #44
s390x is an IBM mainframe architecture?
Do you mean to use it as a BOINC server or as a client?
Do any of them exist?

[2018-10-23 09:19] adamradocz commented on #44
@davidpanderson We were able to build the boinc client for the s390x architecture, but there is no project that support it so he can't crunch the WUs. Do you see any chance that S@H can support it in the near future?

[2018-10-25 05:45] davidpanderson commented on #44
If someone builds and tests the S@h client for s390x, Eric Korpela might release it.  Or you could run it using anonymous platform.

[2018-10-25 15:09] adamradocz commented on #44
@sunk818 what do you think, do you wanna give a try?

[2018-10-26 17:23] fogoat opened #47 "docker: Error response from daemon: error while creating mount source path '/opt/appdata/boinc': mkdir /opt/appdata : read-only file system."
Running the dev version of Google container-optimized Chromium OS:

I had to change `/opt/appdata/boinc` to `/home/me` to get work around the error.

[code]

[code]

[code]

[2018-10-26 17:37] sunk818 opened #48 "How do we edit global_prefs.xml?"
I have 2 vCPUs on a Google optimized container. the max disk usage was 0.38GB. After I changed the -v to my home directory instead (e.g. `/home/me:/var/lib/boinc-client`), I was able to get 2.85GB. BOINC by default uses 50% of available space?

How can I edit global_prefs.xml or add a global_prefs_override.xml? I think this is global_prefs.xm is in `/var/lib/boinc-client` (although this changed in

[2018-10-26 17:59] adamradocz commented on #48
You can configure the client by connecting to it with a manager.

[2018-10-26 18:14] sunk818 commented on #48
I see the `/var/lib/boinc-client` files are mapped outside of the docker container? So, I can edit it outside of docker.

[2018-10-26 18:14] #48 closed

[2018-10-26 18:15] sunk818 commented on #21
Less confusion if you follow the defaults of the version running inside docker. I noticed latest boinc docker is 7.12

[code]

[2018-10-26 18:25] #47 closed, assigned to nobody

[2018-10-28 04:49] sunk818 commented on #44
@adamradocz I'm happy to do it if you provide me the steps. s390x platform using SUSE Linux. I don't have entitlement for Red Hat 7, so I'm not allowed to use it.

[2018-10-28 04:51] sunk818 commented on #29
@adamradocz I have macBook with AMD Radeon... Is that can acceptable use case? I've never run docker on macOS, but willing to give it a try. Is Collatz Conjecture okay for GPU? I've run tasks on the macBook Pro successfully using the macOS BOINC client.

[2018-10-28 05:52] adamradocz commented on #29
Unfortunately MacOSnot upoorted by ROCm.
[https://github.com/RadeonOpenCompute/ROCm/issues/262](https://github.com/RadeonOpenCompute/ROCm/issues/262)

[2018-10-28 05:55] adamradocz commented on #44
Honesty,I have no idea how to do that. Maybe @davidpanderson can give you some guidance.

[2018-10-28 06:13] davidpanderson commented on #44
It's described here:
https://boinc.berkeley.edu/wiki/Anonymous_platform
The idea is that you get the source code of the app (S@h in this case),
build it and link it with the BOINC runtime library,
and make a config file that tells the server to use your app.

-- David

[2018-10-29 20:36] adamradocz commented on #44
I close this issue. @sunk818 if you succeed with building the project, I will recreate the s390x image.

[2018-10-29 20:36] #44 closed

[2018-11-01 22:54] Pneumaticat commented on #29
I've been using it for a while on an RX 580, kernel 4.18, and it seems to work fine for Einstein@Home. Milkyway gives an error on every GPU job, but that might be their issue: http://milkyway.cs.rpi.edu/milkyway/forum_thread.php?id=4185

Thanks for your work in supporting it!

[2018-11-02 19:46] Pneumaticat commented on #29
@adamradocz No problem!

I can't test that (I'm on NixOS, so I can't change the groups I'm in, plus I think it would break my GUI setup), but I can see no reason why it should be necessary, as BOINC doesn't run as your user in the docker container anyway, and plus you add `--group-add video` already to `docker run`.

Also, I don't think that the host technically has to install the ROCm userspace d

[2018-11-28 12:11] afritzler opened #50 "Plans to add ARM based Docker image"
Hi,
are there any plans to add support for an ARM based Docker image?
Regards,
Andreas

[2018-12-03 17:58] adamradocz commented on #50
Which type of ARM fo you want? ARMv8 64-bit or ARMv7 32-bit?

[2018-12-03 20:03] #21 closed

[2018-12-05 07:30] afritzler commented on #50
ARMv8 would be good.

[2018-12-05 07:31] afritzler commented on #50
I just saw that you added the Dockerfile already with e94297a599958df1be0eb5680b2ab2a22e219ffd . Thanks a lot!

[2018-12-05 07:31] #50 closed

[2018-12-05 07:55] adamradocz commented on #50
Yes, but there is a catch. Docker cloud can't build the ARM based images, so if you want to use it you have to build it.
- Clone the GitHub repo.
- cd in the repo.
- docker build -t boinc/client:arm64v8 -f Docker file.arm64v8 .

[2018-12-06 22:39] AenBleidd commented on #50
@afritzler, you can take a look at the official list of projects and their supported platforms here:
https://boinc.berkeley.edu/projects.php

[2018-12-06 22:41] afritzler commented on #50
That was exactly what I was looking for! Thanks a lot for the link!

[2018-12-06 22:49] adamradocz commented on #50
@afritzler that'd be nice. @marius311 could you add @afritzler upload permission on Docker cloud?

[2018-12-06 22:51] RichardHaselgrove commented on #50
If you look at the file `all_projects_list.xml` (updated every 14 days in the data directory of any running BOINC client), the application plan class names are listed and give an insight into the various hardware and software versions supported. Einstein and SETI probably have the most comprehensive lists.

[2018-12-06 23:04] afritzler commented on #50
Ok, so I did a quick smoke test on a Raspberry Pi 3. Works like a charm with SETI! Unfortunately I am running HypriotOS for armv7 on this puppy so I had to change the base image to `arm32v7/ubuntu`. Will flash the device with an armv8 OS.

Thank you guys a lot for the support!

[2018-12-06 23:23] afritzler commented on #50
I created a PR #51 to also add support for arm32v7 based devices.

[2018-12-06 23:37] marius311 commented on #50
@afritzler what's your Docker hub username?

[2018-12-06 23:40] afritzler commented on #50
Same as my github user: https://hub.docker.com/u/afritzler/

[2018-12-06 23:42] marius311 commented on #50
K I think what I just did gave you push access to boinc/client. Let me know if it didn't. Use responsibly :)

[2018-12-06 23:45] afritzler commented on #50
Thx & of course :-)

[2018-12-28 11:32] migueleliasweb opened #52 "Unable to run on raspberry pi 3 b+"
Hey guys, first I want to thank you for the very handy docker image! But I encountered a problem... ;)

I tried using the image from docker hub by just running the following command: (I was testing)

[code]

This happens because the image is not compatible with ARM v7 from the Pi. It's probably trying to run the x86 or the AMD64 version.

My workaround was to clone the repo the build the image mys

[2018-12-28 11:35] AenBleidd commented on #52
Please take a look at #50.
Looks like duplicate of it

[2018-12-28 11:44] adamradocz commented on #52
Docker cloud can't build ARM-based images. Somebody has to push the built image to the cloud, to others be able to use it.
@afritzler promised to push the ARM images, but he didn't do it yet.

[2018-12-28 11:44] #52 closed

[2018-12-28 11:51] migueleliasweb commented on #52
Thanks guys for the lightning fast responses! Cheers!

[2018-12-29 10:39] afritzler commented on #52
Sorry guys for the delay. I have been travelling the last couple of weeks without access to my RPis at home. `arm32v7` should be available now. `arm64v8` on the way.

[2019-01-15 16:10] Mausy5043 opened #56 "--net=host vs EXPOSE"
Why is the container using `--net=host` while it also `EXPOSE`s port 31416?

I am hesitant to allow the container full access to the host's network stack. I see no reason for doing this.

What problems do I need to look out for if I would use the option `-p 31416:31416` and remove the option `--net=host`? It seems to work just fine. 😕

[2019-01-15 17:56] Mausy5043 opened #57 "dir_open: Could not open directory 'locale' from '/var/lib/boinc'"
I get this in the log:
[code]
multiple times.
Did I misconfigure my system?

[2019-01-15 19:05] adamradocz commented on #56
It's the same, it will work with the `-p 31416:31416` just fine. The `--net=host` just simpler.

[2019-01-15 19:05] #56 closed

[2019-01-15 19:07] adamradocz commented on #57
The script provided in the readme has to be working. What is your command you are running?

[2019-01-15 19:37] Mausy5043 commented on #57
Started vanilla docker image `boinc/client` with this run command:
[code]

[2019-01-15 19:38] Mausy5043 commented on #57
Permissions seem okay:
[code]

[2019-01-15 19:49] Mausy5043 commented on #56
If they are equivalent I'd recommend to use the `-p` option as the `--net=host` option may pose a security risk to users.

[2019-01-15 19:55] adamradocz commented on #56
The `host` option remove network isolation between the container and the Docker host, and use the host’s networking directly. It's basically the same as installing the BOINC on the host, there's no extra security risk, and there aren't any extra open ports.

[2019-01-15 20:09] adamradocz commented on #57
Still getting the error message? I checked my log and don't see any error. Honestly, I have no clue what's the problem on your side.

[2019-01-15 20:57] Mausy5043 commented on #57
[code]

[2019-01-15 21:04] Mausy5043 commented on #57
I'll keep an eye on it for a couple of days

[2019-01-17 20:46] Mausy5043 commented on #57
The error seems to pop up when I run `docker logs -f boinc` for an extended time.
It is very odd.

I was able to get rid of it simply by creating the missing directory '/var/lib/boinc/locale'.
S'all good now.

[2019-01-17 20:46] #57 closed

[2019-01-18 01:37] CharlieFenton commented on #57
I would think the real solution is to determine why the locale directory is missing. It is needed to translate BOINC if the user speaks a language other than English, so just creating an empty directory doesn't seem like a good answer.

[2019-03-16 12:44] adamradocz opened #58 "Connect with MicroBadger"
@marius311 @davidpanderson Can we connect this repository with the [https://microbadger.com/](https://microbadger.com/)
Who's responsible about the 3rd party accounts?

[2019-03-23 09:57] #58 closed

[2019-05-07 09:40] adamradocz opened #59 "Can't push to Docker Cloud"
When I try to push an image to the Docker Cloud, I get this error message:
[code]

@marius311 Do you have any idea?

[2019-05-07 14:20] adamradocz commented on #59
This forum helped: [https://stackoverflow.com/questions/50151833/cannot-login-to-docker-account](https://stackoverflow.com/questions/50151833/cannot-login-to-docker-account)

[2019-05-07 14:20] #59 closed

[2019-05-13 04:29] meetyg opened #61 "Why isn't arm64 version listed in Docker hub?"
I didn't even know a 64 bit version for ARM existed untill just browsing this repo.
If there is an arm64 image, I think it should be added to Docker hub and readme too.
Thanks you for mainting these Docker images, there are very helpfull !

[2019-05-13 04:57] meetyg commented on #61
Just an update, reading some other issues I understood that Docker hub can build these ARM images. So @afritzler pushed the arm32v7 images, but not the arm64v8.
I have successfully built the arm64v8 image on my Rock64 and its working nicely.
Still we should have this listed on DockerHub, to save others from having to build.
I'm willing to do it if @afritzler  is too busy for it.

[2019-05-13 06:52] afritzler commented on #61
Unfortunately I currently don't have a 64bit OS running on ARM to test it. If you can confirm that it works - that is awesome. @marius311 can give you push rights to Docker hub.

[2019-05-13 07:33] meetyg commented on #61
Yes, I have it up and running (crunching Boinc) on my Pine Rock64, with 64bit Debian OS on it.

[2019-05-13 09:06] adamradocz commented on #61
An optimized version is always faster. The 64bit processor has to convert the 32bit values to 64bit which is an extra overhead. Not much, but still... :)
BTW, can you see what values are shown when you run a benchmark?

[2019-05-13 09:31] meetyg commented on #61
I can't see benchmark results, not in 32bit version and not in 64bit. I don't know if has to do with the fact that we are running in Docker, or that we are running on ARM architecture. The benchmark shows blank lines in the log, as mentioned in issue #9
Any ideas why this happens? (Same behaviour on my Raspberry Pis, all running Boinc in docker).

[2019-05-13 09:34] adamradocz commented on #61
I've no idea, I was aware of the issue. I was curious that maybe it shows something in ARM.

[2019-05-13 09:38] meetyg commented on #61
So I guess its a Docker problem.
Maybe we are missing a dependecy or something.

[2019-05-13 11:04] adamradocz commented on #61
apt should install any necessary dependencies.

[2019-05-14 19:51] adamradocz opened #62 "Update the ARM32v7 image"
The ARM images are now using Alpine Linux as a base image to decrease the size of the image.

[2019-05-14 19:56] adamradocz commented on #62
@afritzler can you build and push a new image?

[2019-05-14 19:59] adamradocz commented on #61
@meetyg the base image is switched to Alpine Linux so our image is smaller now. You can build a new image and try out.

[2019-05-15 19:54] meetyg commented on #61
Ok, so I built the new Alpine image for arm64.
It seems that tasks that were already running, continue to run.
But unfortunately, I am unable to get new tasks. It seems that the Alpine's musl lib is not supported.
Here is what I get in the event log:
[code]
These two projects worked fine on the previous arm64 image (based on arm64 Ubuntu)

[2019-05-15 20:46] adamradocz commented on #61
Hmm, thanks for the feedback.
It seems I need to switch back to Ubuntu then. Unfortunately, it is 10X bigger.

[2019-05-15 20:50] adamradocz commented on #62
I'm closing this issue because it seems the projects don't support the aarch64-alpine-linux-musl

[2019-05-15 20:50] #62 closed

[2019-05-15 20:55] meetyg commented on #61
Now I recall that I had a similar problem when I tried to run Boinc (not in Docker) on a Raspberry Pi with Alpine linux running on it (don't remember if it was 32 or 64 bit).
But maybe we still have some hope...  Maybe we can "fool" the system to think that we have some other architecture?
As I mentioned, it seems like tasks that were already running, continued to run. I didn't check to see what h

[2019-05-15 21:52] adamradocz commented on #61
I did the change in the #63 PR. Everything is working as it should be. I left the alpine base image in the repository though, but the Ubuntu is the default base image now.

[2019-05-24 08:00] meetyg commented on #61
I have rebuilt the Arm64 image.
Its currently running great on three different 64 bit Arm devices: Pi 3, Rock64 and a NanoPi Fire3. Checked with Universe@Home, an TN-Grid, both getting nice results.
Could I please get permissions (from @marius311 ?) to push this Docker hub?

[2019-05-24 08:58] afritzler commented on #61
Out of curiosity: what 64bit OS are you using on your RPi3?

[2019-05-26 04:32] meetyg commented on #61
I'm using Ubuntu's 64 bit image for Raspberry Pi 3:
https://wiki.ubuntu.com/ARM/RaspberryPi

Specifically:
ubuntu-18.04.2-preinstalled-server-arm64+raspi3.img.xz

It a bit large (4GB), but it works pretty well.

[2019-05-29 18:41] adamradocz commented on #61
If you manage multiple clients, I created a rudimental, but working version of a [web-based Boinc Manager](https://github.com/adamradocz/boinc-manager), which runs on Docker. If you wanna try, go and check out.

[2019-05-29 19:02] meetyg commented on #61
Sounds 😎 I surely will give it a try soon!

[2019-07-31 16:53] adamradocz opened #65 "Be Verified Publisher on Docker Hub"
I think it would be cool if we got the Verified Publisher or Official Image badge on Docker Hub.
@marius311 do you have any experience about this topic?

[2019-08-30 20:45] garethrandall opened #66 "Docker build of baseimage-ubuntu fails"
Hi,

On a Debian 9.9 x86_64 system, I did:
[code]
....
[code]

This is the most recent repo commit:
[code]

There are several lines of enquiry here, but perhaps someone could look at this and tell me whether I have missed something out or whether this is a bug with the latest version. Thank you.

[2019-08-31 00:08] AenBleidd commented on #66
There is an existing issue opened in BOINC repo, currently unresolved, please read discussion there: https://github.com/BOINC/boinc/issues/3250

[2019-08-31 07:02] garethrandall commented on #66
As a fix to allow building right now, change Dockerfile.baseimage-ubuntu to use ubuntu:19.10 instead of ubuntu:18.04, as in the following diff:
[code]
This was inspired by the following comment: https://github.com/BOINC/boinc/issues/3250#issuecomment-525810964

[2019-09-11 13:19] smoe commented on #66
Please also install the backport of init-system-helpers from @LocutusOfBorg's PPA (see a few comments later of that same thread https://github.com/BOINC/boinc/issues/3250#issuecomment-529821998).

[2019-09-11 19:00] adamradocz commented on #66
It's working now.

[2019-09-11 19:00] #66 closed

[2019-09-13 10:47] garethrandall commented on #66
Hi @adamradocz . What config did you use to make this work?
I've just tried to verify by using this revision of the repo:
[code]
but:
[code]
fails with:

[code]

[2019-09-13 18:01] LocutusOfBorg commented on #66
fixing shortly

[2019-09-13 18:12] adamradocz commented on #66
@LocutusOfBorg can you notify us when it's working again.

[2019-09-13 18:14] LocutusOfBorg commented on #66
https://launchpad.net/~costamagnagianfranco/+archive/ubuntu/boinc/+packages
https://launchpad.net/~costamagnagianfranco/+archive/ubuntu/firefox/+packages
As soon as the build is ended...

It might be a couple of minutes, up to half an hour

[2019-09-13 18:15] LocutusOfBorg commented on #66
theoretically calling the version 1.57ubuntu instead of 1.57~ubuntu fixes the issue because it is seen as an higher version

[2019-09-13 18:15] LocutusOfBorg commented on #66
sorry you all for the troubles I caused!

[2019-09-13 20:33] LocutusOfBorg commented on #66
(should be already ok since an hour or two)

[2019-09-14 07:16] garethrandall commented on #66
It builds successfully now. Well done!

[2019-09-30 07:24] distahl opened #67 "Change timezone"
Hi,

How can I change timezone in the docker image?
I've tried already -e `"TZ=Europe/Berlin"` and `-v /etc/timezone:/etc/timezone:ro`

But `date` always shows the same time. Even if I set to "America/Montreal".

[code]

And boinc always is saying:
`Local time is UTC +0 hours`

[2019-09-30 12:38] adamradocz commented on #67
`tzdata` has been added to the image, so the `-e TZ=Europe/Berlin` should work now. 1-2 hours and the images will be rebuilt.

[2019-09-30 12:38] #67 closed

[2019-10-23 21:29] SSCCpicocluster commented on #61
Hello, my team and I are working on clustering ~300 raspberry pi 3's like a school project and we're currently hitting a roadblock with the image docker and BOINC are pushing out. We believe that the issue is being caused due to the ARM 64 image (or possible lack thereof ) for  Raspbian. Is there a repository for the correct image version, or is it recommended to switch to another node operating s

[2019-10-24 04:44] adamradocz commented on #61
@marius311 Can we resolve this issue?

[2019-10-24 17:37] adamradocz commented on #61
@meetyg needs uploading permission.

[2019-10-24 21:15] marius311 commented on #61
Oh I see now above, sorry. @meetyg whats your Docker username? I can add you (FWIW I think you have permission to add people too @adamradocz)

[2019-10-24 22:43] meetyg commented on #61
My username is: meetyg
https://hub.docker.com/u/meetyg

[2019-10-25 05:03] adamradocz commented on #61
Oh, I didn't know that.

[2019-11-03 09:19] meetyg commented on #61
Sorry for the late response (been busy lately...)
Anyways, I'm rebuilding the latest version, and will push to Dockerhub.
I'll have you guys updated :smile:

[2019-11-03 09:33] meetyg commented on #61
Done :+1:
You can now pull the image: `docker pull boinc/client:arm64v8`
I will open a pull request to update the readme with this tag.

I ran a basic sanity test on this image after rebuilding it, but haven't had the time to change my currently running instance with the new one.
So @SSCCpicocluster  if you have any problems, let me know.
The image was built on an RPI 3 B+ running 64bit Ubuntu, as

[2019-11-03 09:48] adamradocz commented on #61
Thanks.

[2019-11-03 09:48] #61 closed

[2019-11-30 13:19] superflyxxi opened #69 "Process usage less than X percent doesn't work with docker"
When running docker boinc, it doesn't honor `While processor usage is less than ___ percent` setting. This may be due to how the client is identifying processor usage. Within a container, if you were to run top you'd only see the processor usage of the processes within the container. You do not see the host processes at all. So from a container perspective, it seems like  no other process is runni

[2019-11-30 14:45] superflyxxi commented on #69
By using `--pid=host` in the dock run command, the container can view all processes on the host. This allows for CPU percentage and exclusive apps to be honored

[2019-11-30 15:27] adamradocz commented on #69
Thanks. Would you like to update the documentation and making a PR?

[2019-12-02 05:58] #69 closed

[2019-12-16 15:15] Heaven31415 opened #72 "Invalid link to image at docker hub"
If you look at https://hub.docker.com/r/boinc/client under **usage** section you will find a broken link to this image: https://hub.docker.com/r/boinc/manager_connect.png

![image](https://user-images.githubusercontent.com/16988850/70918205-08af4280-201f-11ea-9207-279c113164c7.png)

[2019-12-16 16:50] adamradocz commented on #72
Because the links are optimized for GitHub and the DockerHub doesn't handle it well.

[2020-03-01 09:58] #72 closed

[2020-03-04 13:09] hemna opened #73 "Unknown option: "--allow_remote_gui_rpc""
I wrote a docker-compose.yml file to stand up boinc and I get the following output.

[code]

my docker-compose.yml file
[code]

[2020-03-04 13:42] adamradocz commented on #73
[Here](https://github.com/BOINC/boinc-client-docker#docker-compose)'s a template for docker-compose. Try that and get back what happened.

[2020-03-04 15:21] RichardHaselgrove commented on #73
What age/version of boinc were you trying to use? This facility was added to boinc in April 2010 by https://github.com/BOINC/boinc/commit/7a4edbafab6a653b5791344fd86eac0aca5f058a. The checking notes say

[2020-03-05 08:23] adamradocz commented on #73
The latest. 7.16.1

[2020-03-05 08:30] RichardHaselgrove commented on #73
Actually, the release process is up to 7.16.5 now.

7.16.1 had a bug, https://github.com/BOINC/boinc/issues/3247 and https://github.com/BOINC/boinc/pull/3249, which could have caused this.

[2020-03-05 09:55] adamradocz commented on #73
I use the same image and it works fine.

[2020-03-08 16:17] adamradocz commented on #73
I close this issue. If you still have this problem feel free to reopen it.

[2020-03-08 16:17] #73 closed

[2020-03-23 15:33] mcandre opened #74 "Confusing documentation, help?"
Hi,

I want to run BOINC in Docker and contribute to major Rosetta@Home efforts. But I am having trouble understanding the right syntax for this. Where do I input my BOINC username and password?

It seems that this Docker image is only one component of the overall BOINC desktop system. Can we get an all-in-one image for easy deployment by Kubernetes admins?

[2020-03-23 16:36] tristanolive commented on #74
I'm pretty sure the BOINC client runs when you launch the Docker container from the image. Once it's running, you can attach to Rosetta like this:

docker exec -it [container] boinccmd --project_attach https://boinc.bakerlab.org/rosetta/ [account_key]

Note that it uses your Rosetta account key, not name and password. This key can be found by logging into your account at the Rosetta website. This

[2020-03-24 05:43] adamradocz commented on #74
Or connect to the client with the BOINC manager and configure that way.

[2020-03-30 06:06] #13 closed

[2020-03-30 06:07] adamradocz commented on #74
If you need help, just reopen the issue.

[2020-03-30 06:07] #74 closed

[2020-03-30 06:09] adamradocz commented on #9
It works again.

[2020-03-30 06:09] #9 closed

[2020-04-04 14:32] garethrandall opened #78 "BOINC uses ~40% "kernel" CPU usage but only ~15% "user" CPU usage."
I have been running Boinc with World Community Grid for several months now on a cloud-hosted machine, using the latest `Dockerfile.base-ubuntu`.

I'm wondering if anyone else running Boinc in a Docker container sees their running process consume an enormous amount of kernel CPU time ("39.3 sy" below) while the user mode calculations only get a small fraction of this ("12.8 ni" below). This happens

[2020-04-04 18:05] adamradocz commented on #78
Honesty, I have no idea. What do you use for this stat? I'll check my NAS.

[2020-04-04 20:07] garethrandall commented on #78
Thanks for the reply. This was when running the standard "top" command.

[2020-04-04 20:24] garethrandall commented on #78
Maybe there's something wrong with the Boinc process itself. The output of `strace -p 104121` shows the following repeated about every 2-3 seconds, but the `times` lines occur around 750-850 times each repeat. Perhaps this repeating `times` call is causing the high kernel load?

[code]

[2020-04-05 05:49] adamradocz commented on #78
My stats seem to OK.
[code]

[2020-04-05 06:06] garethrandall commented on #78
Thanks for checking.

I'm going to close this issue because it doesn't seem that it's directly related to  "BOINC/boinc-client-docker". Thanks for your help.

[2020-04-05 06:06] #78 closed

[2020-04-08 04:35] #65 closed

[2020-05-15 14:42] DanielAlcon opened #80 "Client not restarting after boot"
I followed the instructions to setup docker boinc client, but after restarting the computer I can connect to the container despite trying to restart it.

The boinc manager says it's disconnected

[2020-05-16 04:54] adamradocz commented on #80
The container is running?

[2020-05-18 21:22] DanielAlcon commented on #80
Everything is working now, I removed everything and reinstalled and now I don't have any problem except that I can't use boinc client to connect after reboot, only on first start. But I'm using boinccmd to manage everything in all my computers right now

[2020-05-18 21:22] #80 closed

[2020-05-19 04:49] adamradocz commented on #80
For some reason `--allow_remote_gui_rpc` not working correctly.
In the `cc_config.xml` under the `<options>` section set the `<allow_remote_gui_rpc>` to `1`

[2020-05-20 11:36] afritzler opened #83 "Switching to official Ubuntu base image for ARM"
It might be a good idea to switch to the official `ubuntu:rolling` base image[0] as it now supports both 32 and 64bit ARM. Wdyt?

[0] https://hub.docker.com/_/ubuntu/?tab=tags

[2020-05-20 18:23] adamradocz commented on #83
We use the `20.04` image which is the same as the `rolling`.

[2020-05-20 18:42] afritzler commented on #83
Sorry for the confusing title. I meant the images for arm.

[2020-05-21 06:25] adamradocz commented on #83
For arm we use the rolling image, and I don't find any information about the multiarc image.

[2020-06-02 09:28] #83 closed

[2020-06-02 11:29] adamradocz commented on #83
If you want, you can create a PR.

[2020-12-12 03:12] leeee-me opened #85 "Wishlist of boinc-client-docker for newly coming Windows Subsystem of Linux 2.0"
Recently I am studying the newly pre-release (or previewed) of Win 10 WSL 2 with transparently CUDA support on top of underlying DirectX GPU hypervisor... for personal interests, to see if any BOINC GPU-based projects (especially for nVidia CUDA) can run on top of WSL2.

Currently, this preview is based on CUDA 11.1 with nVidia customized docker-ce engine and cuda cli/api

https://docs.nvidia.com/

[2021-01-18 22:45] lunik1 opened #86 "Warn about VirtualBox version mismatches between guest and host"
While trying to use the Virtualbox-savvy version of this image I encountered this error when running VBoxHeadless:
[code]
which is caused by [a version mismatch between the host's kernel modules and guest's VirtualBox version](https://www.virtualbox.org/ticket/6337). If you are using Ubuntu 18.04 you shouldn't encounter this issue as the version in the repos should match, but other host distros ma

[2021-03-21 08:40] adamradocz commented on #85
I think there's no point installing docker on WSL. And maybe boinc support WSL by default?

[2021-03-21 08:40] #85 closed

[2021-03-21 08:45] #86 closed

[2021-03-21 08:46] adamradocz commented on #86
Thanks!

[2021-05-25 19:01] 3141592Pie opened #87 "ptrace denied spam on syslog"
Huhu Dear team, i really enjoy your container project.
It is runnign fine on debian. Iam just wondering if you can explain/stop the system message spam:
[code]
So basically every 10 seconds a new message is generated.

I use this script for generating the docker container:
[code]

Can you tell me how to prevent this messages but keep the container secured?
If i just disable the security of apparmo

[2021-07-10 16:56] CristianCantoro commented on #57
I am experiencing the same problem using [`boinc:latest (8967524566b5)`](https://hub.docker.com/layers/boinc/client/latest/images/sha256-8967524566b511ff9083e3975a2a5b140231ed691d857a4c9ae8cdeeff99cee0?context=explore).

[2021-07-10 17:58] CristianCantoro opened #89 "What are the configuration files in /var/lib/boinc-client for?"
I am using [`boinc:latest (8967524566b5)`](https://hub.docker.com/layers/boinc/client/latest/images/sha256-8967524566b511ff9083e3975a2a5b140231ed691d857a4c9ae8cdeeff99cee0?context=explore).

Launching a clean instance of `boinc/client`:
[code]

Contents of the `/var/lib/boinc` directory:
[code]

Contents of the `/var/lib/boinc-client` directory:
[code]

Contents of the `/etc/boinc-client` director

[2021-09-08 23:17] guillaume130679 opened #90 "add BOINC website credentials"
Hello,

This is not exactly an issue I am reporting here but I was wondering if there was any way I could include my BOINC credentials directly into docker containers config?

At the moment, if I run a deployment with several containers I need to add my credentials in every single one of them before they start processing data.

Maybe that would be a feature to add?

[2021-09-12 13:21] adamradocz commented on #90
You can use the [command line](https://boinc.berkeley.edu/wiki/Boinccmd_tool) argument to add the credentials.

[2021-12-18 12:52] Utopiah commented on #56
Even though is might be equivalent in terms of security it is worrisome for people who are unfamiliar with the project. This is why I ended up here, looking for a possible `-p` alternative.

[2021-12-18 12:58] adamradocz commented on #89
If I'm not mistaken, the files in the `/var/lib/boinc` and `/var/lib/boinc-client` directories are symlinked. But this is a general [BOINC](https://github.com/BOINC/boinc) question not docker specific.

[2021-12-18 12:58] #89 closed

[2021-12-18 13:00] adamradocz commented on #87
Have you installed AppArmor on the host?

[2021-12-18 13:01] #90 closed

[2021-12-18 13:04] Utopiah opened #91 "Including a web client directly or providing a docker-compose example"
As I imagine most Docker users will do it on headless server and coming from Archive-Warrior, providing such an option would be great.

Including directly a client, e.g https://github.com/Raffy23/boinc-webmanager , might be too much work but integrating both via a docker-compose example would limit to changing only the documentation rather than adding a dependency.

[2021-12-18 13:23] adamradocz commented on #91
Sorry, I don't exactly understand what you mean. You want a docker-compose example with boinc and boinc-webmanager?

[2021-12-18 17:18] Utopiah commented on #91
Yes. I'm not familiar with BOINC so my comment is naive. I installed the client and it worked well but I was surprised to have to have the GUI manager to connect to it. I imagine the process was historical, namely that BOINC was created before Docker rise to popularity. Most services nowadays that come with a Docker image usually have a web interface so I was expecting BOINC to have that too. Cons

[2021-12-18 19:00] adamradocz commented on #91
Unfortunately, the boinc-webmanager is not an official project. And the idea is that you run the boinc clinet docker in a headless server and you connect to that client with the boinc manager from your PC.

[2021-12-18 19:03] Utopiah commented on #91
Yes I understand the idea. I did that and it works. I'm comparing to my prior Archive-Warrior experience and to be honest a last of Docker project featuring web-based interface. That being said again I don't know BOINC well enough to have a strong opinion so maybe the native GUI BOINC manager is the only proper or complete way to handle the client. If that's the case feel free to close the issue.

[2021-12-18 19:11] adamradocz commented on #91
Having an official web GUI is a good idea. You should open an issue about that in the [BOINC](https://github.com/BOINC/boinc) repo. When it's done, I'll add it to this project.

[2021-12-18 19:11] #91 closed

[2022-01-15 17:47] captcarl13 opened #92 "Science United reports arm32v7 client out of date"
![image](https://user-images.githubusercontent.com/867543/149632157-b1f497fc-4dc1-4b1a-a9dd-09451e70b3d1.png)

![image](https://user-images.githubusercontent.com/867543/149632175-5d3e4f37-8ad2-488c-8890-c9515dd489f9.png)

Running client using `docker-compose`. See file below:
[code]

[2022-01-15 18:10] adamradocz commented on #92
I don't have arm-based CPU to update the image.

[2022-01-16 02:41] captcarl13 commented on #92
Understood. For what it's worth, this device in question is a Raspberry Pi 4 running 32-bit Raspbian 10 (Buster).

[2022-01-16 06:22] adamradocz commented on #92
You can clone this repo and build the image for yourself.

[2022-03-19 18:13] pataquets commented on #73
@hemna : Just deployed BOINC on my PC today and had the same issue. Turned out to be the double quotes! I realized it when adding multiple command line switches and quotes were being printed only on first and last of them in the error message.
Try: `BOINC_CMD_LINE_OPTIONS=--allow_remote_gui_rpc` (without the double quotes). Worked for me.
Ubuntu Bionic, Docker 20.10.13, docker-compose 1.25.5.
cc:

[2022-03-19 18:18] adamradocz commented on #73
Thanks

[2022-03-19 23:17] pataquets commented on #89
Verified:
[code]

[2022-04-26 09:41] leeee-me opened #93 "For virtualbox -ed boinc container, it seems not install proper ext pack"
I tried this container to crunch tasks of Rosetta @ Home, which it now needs virtualbox to run its python computational box.
It needs to run headless virtualbox instances for each tasks...
The task failed immediately which error log shows that virtualbox started and then went dead.

I made a guess that it is forgotten to install headless extpack.
For example, I googled and provided a simple articl

[2022-04-26 10:37] alee18x opened #94 "Start boinc main program by uid boinc"
I noticed that inside the docker container, it runs boinc by uid root.

This is different from the normal execution of non-docker environment.

Why would not try to exec boinc via uid boinc?

Meanwhile, /opt/appdata/boinc needs to align the same uid/gid ownership and/or permission on host too?

[2022-04-27 18:10] adamradocz commented on #93
The host and the docker has to have the same virtualbox installed. Can you confirm that?

[2022-04-27 18:10] #92 closed

[2022-04-27 18:11] adamradocz commented on #94
Can you make a PR?

[2022-04-28 09:36] leeee-me commented on #93
I confirmed that virtualbox installed on both docker and host are different. However, I tried to apt upgrade inside docker and then both virtualbox-es are matched as the same version. But the "vboxmanage list extpacks" in docker does not show the same extpack as the ones installed in the host.

Since extpack is mandatory for specific BOINC projects, I might suggest to add extpack download and inst

[2022-04-28 15:34] adamradocz commented on #93
Can you make a PR for that?

[2022-04-29 06:47] leeee-me commented on #93
It can be quite simple, just modify Dockerfile.virtualbox

# Install
RUN apt-get update && apt-get install -y --no-install-recommends \
# Install VirtualBox
    virtualbox && \
    echo virtualbox-ext-pack virtualbox-ext-pack/license select true | debconf-set-selections && \
    apt-get install -y --no-install-recommends virtualbox-ext-pack && \
# Cleaning up
    rm -rf /var/lib/apt/lists/*

[2022-04-29 07:05] alee18x commented on #94
I have a "proof of concept" and I have verified it:

Suppose we have user "boinc" (uid: 123) and group "boinc" (gid: 130) on host which are prepared for running boinc in docker.

In any final Dockerfile.XXX, add following before RUN apt-get:
[code]

Then, we modify "bin/start-boinc.sh",which means we need to re- docker-build base-ubuntu as well:
[code]

And then, we docker-run as:
[code]

When we

[2022-05-03 17:25] adamradocz commented on #93
Pushed the updated image to Docker HUB. Can you check it, please?

[2022-05-04 08:35] leeee-me commented on #93
Tried to pull it and build boinc/client:virtualbox locally, and then run it. It looks perfectly to work

[2022-05-04 18:20] #93 closed

[2022-05-05 00:44] alee18x commented on #94
I found this could fail to run BOINC client in specific uid/gid for the "virtualbox-based" docker. For example, the BOINC project Rosetta@Home, its vbox python tasks, cannot talk to underlying virturalbox manager without root permission. in the docker I

 am not yet quite sure the reason of failure by any difference of use cases running on docker or host.

[2022-05-08 10:08] adamradocz commented on #94
I gave it a thought and I'm not sure why would you wanna change the GUID/UID? What's the benefit?

[2022-05-08 11:58] alee18x commented on #94
I  read Ubuntu 20.04's /etc/init.d/boinc-client. The boinc client in docker can be exposed outside on top of host. In that case, perhaps this has some security concerns. (that's why Ubuntu and BOINC want to run boinc client via a downgraded uid/gid.)

[code]

[2022-05-08 14:18] adamradocz commented on #94
The idea of containerization is that it's separated from the host.

[2022-05-08 16:15] pataquets opened #95 "Some projects might require additional packages installed"
Case in point: LHC@Home:
Task output log:
[code]
I'm not sure what would be needed to do.
* Just mentioning it in the readme
* Add them to this image. Quite an effort, since it had to be done and kept updated for each possible project, which is hard.
* If those projects use/recommend Docker for easier deployment, leave it up, but maybe warn them about it (or encourage them to publish an image deri

[2022-05-08 17:32] adamradocz commented on #95
Have you tried contacting them?

I think it's the project owner's responsibility to install all the necessary packages to be able to run the tasks. I can't monitor all the available BOINC projects just to make sure they did everything right.

[2022-05-08 18:55] pataquets commented on #95
Thanks for the prompt response, @adamradocz.
I have not contacted them, indeed. Understandably, adding the packages to this image is the hardest approach, due to having to keep track of every required package by every supported project, which is absurdly hard.
I've just tried adding the reqd packages in an image of my own, but did not work, so I've just skipped the project.
I was not requesting th

[2022-05-09 03:17] alee18x commented on #95
To run LHC@Home, it needs:
1). CVMFS (https://twiki.cern.ch/twiki/bin/view/AtlasComputing/Cvmfs21) to supply LHC distributed data pool
2). Go-lang and run a specific app called Singularity (https://github.com/apptainer/singularity)
3). Virtualbox VMM

And LHC @ Home is running often with a very heavy loading which is not respectful BOINC's global preference of CPU usage.

[2022-05-09 03:21] alee18x commented on #94
I believe docker is quite secured for almost 99% of apps run inside. But it may have a little risky to run app for virtualbox inside (which has root permission to access /dev/vboxdrv?).
Anyway, if final justification is adopting this concept (by following the settings of BOINC deployment on Ubuntu), then I think it can apply to all Dockfiler except virtualbox kind.

[2022-05-09 18:47] adamradocz commented on #94
The Linux Server team managed to solve this issue in their image.
https://github.com/linuxserver/docker-boinc

[2022-05-09 18:47] #94 closed

[2022-05-22 12:01] #95 closed

[2022-05-22 13:53] pataquets commented on #95
@alee18x Thank you very much for the instructions. I've never run Vb on Docker. I even doubt it can work. Anyway I'll not take that route due to complexity. Finding another project is easier. :smile:
@adamradocz Worth mentioning something in the readme, at least? To avoid ppl the headscratching for projects not working. I was not asking necessarily for neither support nor a fix, since my first pro

[2022-09-13 22:35] pataquets commented on #87
Same here, under Ubuntu Bionic, which has AppArmor built-in, indeed.

[2022-10-20 09:36] alee18x opened #101 "Up-to-date Intel GPU with Intel Neo (compute-runtime)"
Hi Git Admin

Based on Intel's Neo at https://github.com/intel/compute-runtime

I proposed a new draft Dockerfile.intel-neo:
(Well... these are hard-URL to the latest tarball release, but they will be upgraded later.

[code]